[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fastkqr"]
	path = fastkqr
	url = https://github.com/cran/fastkqr
[submodule "hdqr"]
	path = hdqr
	url = https://github.com/cran/hdqr
